.auth-form {

  width: 350px;

  &.sign-in {
    .input-email {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &:not(.sign-in) {
    .input-name {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .input-email {
      margin-top: -1px;
      margin-bottom: -1px;
      border-radius: 0;
    }
  }

  .input-password {
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 0;
  }

}
