/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  display: flex;
  height: 100%;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
a:focus,
.btn:active,
.btn.active,
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus
{
  outline:0 !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hoverable-card {
  cursor: pointer;

  &:hover {
    color: var(--bs-body-color);
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: #fbfbfb;
    box-shadow: 2px 2px 3px 1px #dadada;
  }
}

[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
  }

  & > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &[data-aspect-ratio="3:1"]:before {
    padding-top: 33.33%;
  }
  &[data-aspect-ratio="2:1"]:before {
    padding-top: 50%;
  }
  &[data-aspect-ratio="16:9"]:before {
    padding-top: 56.25%;
  }
  &[data-aspect-ratio="3:2"]:before {
    padding-top: 66.66%;
  }
  &[data-aspect-ratio="4:3"]:before {
    padding-top: 75%;
  }
  &[data-aspect-ratio="1:1"]:before {
    padding-top: 100%;
  }
  &[data-aspect-ratio="3:4"]:before {
    padding-top: 133.33%;
  }
  &[data-aspect-ratio="2:3"]:before {
    padding-top: 150%;
  }
  &[data-aspect-ratio="9:16"]:before {
    padding-top: 177.77%;
  }
  &[data-aspect-ratio="1:2"]:before {
    padding-top: 200%;
  }
  &[data-aspect-ratio="1:3"]:before {
    padding-top: 300%;
  }
}
